<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
<title>ML</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
<h1 align="center">Student Score Using Studied Hours Value\n</h1>

    <form align="center" action="http://localhost:5000/predict"method="post">
    	<input type="text" name="Hours" placeholder="Studying hours" required="required" />

        <button type="submit" class="btn-large">Predict</button>
    </form>

</body>
</html>